{{ $image := "" }}
{{ with .Resources.GetMatch "{*.jpg,*.jpeg,*.png,*.gif,*.webp}" }}
    {{ $image = .RelPermalink }}
{{ end }}

<article class="flex flex-col md:flex-row gap-4 md:gap-6">
    {{ if $image }}
    <div class="md:w-72 md:flex-shrink-0">
        <a href="{{ $.Permalink }}">
            <img src="{{ $image }}" alt="{{ $.Title }}" class="w-full h-48 md:h-full object-contain rounded-lg">
        </a>
    </div>
    {{ end }}
    <div class="flex flex-col gap-1 flex-1">
        <h1 class="text-xl font-bold text-gray-900 dark:text-gray-100 hover:underline"> <a href=" {{ .Permalink }} ">{{ .Title }}</a></h1>
        {{ $date := .PublishDate }}
        {{ if $date.IsZero }}{{ $date = .Date }}{{ end }}
        <div class="text-sm text-gray-500 dark:text-gray-400" style="font-style: italic;">
            Published on <time datetime="{{ $date }}">{{ $date.Format "Jan 2, 2006" }}</time>
        </div>
        <div class="text-gray-600 dark:text-gray-200">
        {{ if .Params.description }}
        {{ .Params.description }}    
        {{ else if .Summary  }}
        {{ .Summary | plainify }}
        {{ end }}
        </div>
        <div class="mt-2"><a class="inline-flex  gap-2 text-sm font-semibold items-center text-emerald-700 hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-300" href="{{ .Permalink }}">Read This Article <span class="w-4 h-4 stroke-2">{{ partial "processor/svg" "arrow-right" }}</span> </a> </div>
    </div>
</article>